.heading {
  color:black !important;
  font-size: 40px;
}

#nav {
  width: 100%;
  white-space: normal;
  margin-top: 0px;
}

.items {
  display: inline-block;
  width:initial;
  white-space: nowrap;
  margin-right: 10px;
}

#ulist{
  display: inline-block;
}

a:hover{
  text-decoration: none !important;
}

.mainlinks {
  color: white !important;
  text-decoration: none;
}

.menulinks {
  color:#007bff !important;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  float: left;
  margin: 0px !important;
}

#mainbodydiv{
  background-image: url("//csvcus.homeaway.com/rsrcs/stab-cms-resources/0.10.30/images/homepage/jumbotron/ptaHpNextHeroImage/large.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bodydiv{
  padding-top: 60px;
  padding-left:0px;
  padding-bottom:60px;
}

.listPropBtn {
  color: #007bff;
  border-radius: 30px !important;
  background-color: white ;
  border-color: #007bff;
  padding: 10px 25px !important;
}

.searchSubmit {
  padding: 0.2rem 2rem !important;

}

.mymenu{
  overflow: hidden;
  float: none; 
  display: block; 
  padding-bottom:45px;
  position: absolute;
}

#bodyfoot{
  padding-top: 70px;
}

#loginpagebody{
  background-color: #f4f4f4;
  padding-top:60px;
  padding-bottom: 10px;
  border: 1px solid rgb(206, 202, 202)
}

.formbodydiv{
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 30%;
  padding: 10px 30px 40px 30px;
  border: 1px solid rgb(187, 184, 184);
}

.panel-dashboard .panel-title {
  font-family: "Roboto",Arial,sans-serif;
  color: #666;
  font-size: 22px;
  font-weight: 300;
  margin: 0px;
}

.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
}

.from-group .btn .btn-primary {
  background-color: #ff8a00 !important;
  color: #fff;
  text-shadow: none;
  border-color: #ff8a00 !important;
}